#mainSao {
  height: 600px;
  width: 100%;
  display: flex;
}
.music-box {
  width: 20%;
  min-width: 317px;
  height: 100%;
}
.words-share {
  width: 60%;
  min-width: 950px;
  display: flex;
  align-items: center;
  justify-content: center;
}
