#login {
  background-image: url('../imgs/login.png');
  background-size: 100% 105%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
#login .test {
  color: white;
}
#login .login-box {
  position: relative;
  width: 350px;
  height: 500px;
}
#login .login-main {
  position: absolute;
  width: 350px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ececec;
  perspective: 500;
  animation-fill-mode: forwards;
}
#login .login-main-l {
  position: absolute;
  width: 350px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ececec;
  perspective: 500;
  animation-fill-mode: forwards;
  z-index: 2;
  background-color: white;
}
#login .login-main-l h3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 12px;
}
#login .login-main-r {
  position: absolute;
  width: 350px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ececec;
  perspective: 500;
  animation-fill-mode: forwards;
  z-index: 1;
  background-color: white;
  transform: rotateY(90deg);
}
@keyframes fiselect {
  from {
    transform: rotateY(0deg);
    z-index: 2;
  }
  to {
    transform: rotateY(180deg);
    z-index: 1;
  }
}
@keyframes seselect {
  from {
    transform: rotateY(-180deg);
    z-index: 1;
  }
  to {
    transform: rotateY(0deg);
    z-index: 2;
  }
}
