#index-sao{
    width: 100%;
    min-width: 1400px;
    min-height: 1000px;
}
.contral-icon-index{
    position: fixed;
    z-index: 999;
    width: 40px;
    height: 40px;
    top: 30px;
    background-image: url('../imgs/SAOIcon/etc/default.png');
    background-size: 100% 100%;
    
}